USE [master]
GO

-- Xóa cơ sở dữ liệu nếu đã tồn tại (tùy chọn, chỉ chạy nếu muốn xóa hoàn toàn)
IF EXISTS (SELECT * FROM sys.databases WHERE name = 'bepkhoi_final')
BEGIN
    ALTER DATABASE [bepkhoi_final] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [bepkhoi_final];
END
GO

-- Lấy thư mục dữ liệu mặc định của SQL Server
DECLARE @DataPath NVARCHAR(512);
DECLARE @LogPath NVARCHAR(512);
SELECT @DataPath = CONVERT(NVARCHAR(512), SERVERPROPERTY('InstanceDefaultDataPath'));
SELECT @LogPath = CONVERT(NVARCHAR(512), SERVERPROPERTY('InstanceDefaultLogPath'));

-- Kiểm tra và tạo cơ sở dữ liệu
BEGIN TRY
    IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'bepkhoi_final')
    BEGIN
        EXEC('
        CREATE DATABASE [bepkhoi_final]
        CONTAINMENT = NONE
        ON PRIMARY 
        ( NAME = N''bepkhoi_final'', FILENAME = ''' + @DataPath + 'bepkhoi_final.mdf'', SIZE = 8192KB, MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
        LOG ON 
        ( NAME = N''bepkhoi_final_log'', FILENAME = ''' + @LogPath + 'bepkhoi_final_log.ldf'', SIZE = 8192KB, MAXSIZE = 2048GB, FILEGROWTH = 65536KB );
        ');
        PRINT 'Cơ sở dữ liệu bepkhoi_final đã được tạo.';
    END

    -- Đặt cơ sở dữ liệu vào chế độ đọc/ghi
    ALTER DATABASE [bepkhoi_final] SET READ_WRITE;
END TRY
BEGIN CATCH
    PRINT 'Lỗi khi tạo cơ sở dữ liệu: ' + ERROR_MESSAGE();
    RETURN;
END CATCH
GO

-- Sử dụng cơ sở dữ liệu
IF DB_ID('bepkhoi_final') IS NOT NULL
BEGIN
    USE [bepkhoi_final];
    PRINT 'Đã chuyển sang cơ sở dữ liệu bepkhoi_final.';
END
ELSE
BEGIN
    PRINT 'Không thể sử dụng cơ sở dữ liệu bepkhoi_final vì nó chưa được tạo.';
    RETURN;
END
GO

-- Bật các cài đặt tiêu chuẩn
SET ANSI_NULLS ON;
SET QUOTED_IDENTIFIER ON;
SET ANSI_PADDING ON;
GO

-- Hàm hỗ trợ xóa khóa ngoại
CREATE OR ALTER PROCEDURE sp_DropForeignKeys
    @TableName NVARCHAR(128)
AS
BEGIN
    DECLARE @ConstraintName NVARCHAR(128);
    DECLARE @SQL NVARCHAR(MAX);

    DECLARE fk_cursor CURSOR FOR
    SELECT name
    FROM sys.foreign_keys
    WHERE parent_object_id = OBJECT_ID(@TableName);

    OPEN fk_cursor;
    FETCH NEXT FROM fk_cursor INTO @ConstraintName;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @SQL = 'ALTER TABLE ' + @TableName + ' DROP CONSTRAINT ' + @ConstraintName;
        EXEC sp_executesql @SQL;
        FETCH NEXT FROM fk_cursor INTO @ConstraintName;
    END

    CLOSE fk_cursor;
    DEALLOCATE fk_cursor;
END
GO

-- Xóa và tạo các bảng (theo thứ tự phụ thuộc ngược để tránh lỗi khóa ngoại)
DECLARE @Tables TABLE (TableName NVARCHAR(128), DropOrder INT);

DECLARE @TableName NVARCHAR(128);
DECLARE table_cursor CURSOR FOR
SELECT TableName FROM @Tables ORDER BY DropOrder;

OPEN table_cursor;
FETCH NEXT FROM table_cursor INTO @TableName;

WHILE @@FETCH_STATUS = 0
BEGIN
    IF OBJECT_ID(@TableName, 'U') IS NOT NULL
    BEGIN
        EXEC sp_DropForeignKeys @TableName;
        EXEC('DROP TABLE ' + @TableName);
        PRINT 'Đã xóa bảng ' + @TableName;
    END
    FETCH NEXT FROM table_cursor INTO @TableName;
END

CLOSE table_cursor;
DEALLOCATE table_cursor;
GO

-- Tạo bảng Customer
CREATE TABLE [dbo].[Customer](
    [Customer_id] [int] IDENTITY(1,1) NOT NULL,
    [Phone] [nvarchar](20) NOT NULL,
    [Customer_name] [nvarchar](100) NOT NULL,
    [isDelete] [bit] NULL DEFAULT ((0)),
    CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED ([Customer_id] ASC)
);
PRINT 'Đã tạo bảng Customer';
GO

-- Tạo bảng Delivery_information
CREATE TABLE [dbo].[Delivery_information](
    [Delivery_information_id] [int] IDENTITY(1,1) NOT NULL,
    [Receiver_name] [nvarchar](100) NOT NULL,
    [Receiver_phone] [nvarchar](20) NOT NULL,
    [Receiver_address] [nvarchar](255) NOT NULL,
    [Delivery_note] [nvarchar](255) NULL,
    CONSTRAINT [PK_Delivery_information] PRIMARY KEY CLUSTERED ([Delivery_information_id] ASC)
);
PRINT 'Đã tạo bảng Delivery_information';
GO

-- Tạo bảng Discount_campaign
CREATE TABLE [dbo].[Discount_campaign](
    [Discount_id] [int] IDENTITY(1,1) NOT NULL,
    [Discount_title] [nvarchar](100) NOT NULL,
    [Start_date] [date] NOT NULL,
    [End_date] [date] NOT NULL,
    [Discount_by_percentage] [bit] NOT NULL,
    [Discount_value] [decimal](18, 2) NOT NULL,
    [Description] [nvarchar](255) NULL,
    [Status] [bit] NULL DEFAULT ((1)),
    [Is_delete] [bit] NULL DEFAULT ((0)),
    CONSTRAINT [PK_Discount_campaign] PRIMARY KEY CLUSTERED ([Discount_id] ASC)
);
PRINT 'Đã tạo bảng Discount_campaign';
GO

-- Tạo bảng Product_category
CREATE TABLE [dbo].[Product_category](
    [Product_category_id] [int] IDENTITY(1,1) NOT NULL,
    [Product_category_title] [nvarchar](100) NOT NULL,
    [isDelete] [bit] NULL DEFAULT ((0)),
    CONSTRAINT [PK_Product_category] PRIMARY KEY CLUSTERED ([Product_category_id] ASC)
);
PRINT 'Đã tạo bảng Product_category';
GO

-- Tạo bảng Unit
CREATE TABLE [dbo].[Unit](
    [Unit_id] [int] IDENTITY(1,1) NOT NULL,
    [Unit_title] [nvarchar](50) NOT NULL,
    [isDelete] [bit] NULL DEFAULT ((0)),
    CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED ([Unit_id] ASC)
);
PRINT 'Đã tạo bảng Unit';
GO

-- Tạo bảng Menu
CREATE TABLE [dbo].[Menu](
    [Product_id] [int] IDENTITY(1,1) NOT NULL,
    [Product_name] [nvarchar](100) NOT NULL,
    [Product_category_id] [int] NOT NULL,
    [Cost_price] [decimal](18, 2) NOT NULL,
    [Sell_price] [decimal](18, 2) NOT NULL,
    [Sale_price] [decimal](18, 2) NULL,
    [Product_vat] [decimal](5, 2) NULL,
    [Description] [nvarchar](max) NULL,
    [Unit_id] [int] NOT NULL,
    [IsAvailable] [bit] NULL DEFAULT ((1)),
    [Status] [bit] NULL DEFAULT ((1)),
    [IsDelete] [bit] NULL DEFAULT ((0)),
    CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED ([Product_id] ASC)
);
PRINT 'Đã tạo bảng Menu';
GO

-- Tạo bảng Discount_campaign_detail
CREATE TABLE [dbo].[Discount_campaign_detail](
    [Discount_detail_id] [int] IDENTITY(1,1) NOT NULL,
    [Discount_id] [int] NOT NULL,
    [Product_id] [int] NOT NULL,
    CONSTRAINT [PK_Discount_campaign_detail] PRIMARY KEY CLUSTERED ([Discount_detail_id] ASC)
);
PRINT 'Đã tạo bảng Discount_campaign_detail';
GO

-- Tạo bảng Order_status
CREATE TABLE [dbo].[Order_status](
    [Order_status_id] [int] IDENTITY(1,1) NOT NULL,
    [Order_status_title] [nvarchar](50) NOT NULL,
    CONSTRAINT [PK_Order_status] PRIMARY KEY CLUSTERED ([Order_status_id] ASC)
);
PRINT 'Đã tạo bảng Order_status';
GO

-- Tạo bảng Order_type
CREATE TABLE [dbo].[Order_type](
    [Order_type_id] [int] IDENTITY(1,1) NOT NULL,
    [Order_type_title] [nvarchar](50) NOT NULL,
    CONSTRAINT [PK_Order_type] PRIMARY KEY CLUSTERED ([Order_type_id] ASC)
);
PRINT 'Đã tạo bảng Order_type';
GO

-- Tạo bảng Room_area
CREATE TABLE [dbo].[Room_area](
    [Room_area_id] [int] IDENTITY(1,1) NOT NULL,
    [Room_area_name] [nvarchar](100) NOT NULL,
    [Room_area_note] [nvarchar](255) NULL,
    [isDelete] [bit] NULL DEFAULT ((0)),
    CONSTRAINT [PK_Room_area] PRIMARY KEY CLUSTERED ([Room_area_id] ASC)
);
PRINT 'Đã tạo bảng Room_area';
GO

-- Tạo bảng Room
CREATE TABLE [dbo].[Room](
    [Room_id] [int] IDENTITY(1,1) NOT NULL,
    [Room_name] [nvarchar](100) NOT NULL,
    [Room_area_id] [int] NOT NULL,
    [Ordinal_number] [int] NULL,
    [Seat_number] [int] NULL,
    [Room_note] [nvarchar](255) NULL,
    [Qr_code_url] [nvarchar](255) NULL,
    [Status] [bit] NULL DEFAULT ((1)),
    [isUse] [bit] NULL DEFAULT ((0)),
    [isDelete] [bit] NULL DEFAULT ((0)),
    CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED ([Room_id] ASC)
);
PRINT 'Đã tạo bảng Room';
GO

-- Tạo bảng Order
CREATE TABLE [dbo].[Order](
    [Order_id] [int] IDENTITY(1,1) NOT NULL,
    [Customer_id] [int] NULL,
    [Shipper_id] [int] NULL,
    [Delivery_information_id] [int] NULL,
    [Order_type_id] [int] NOT NULL,
    [Room_id] [int] NULL,
    [Created_time] [datetime] NOT NULL DEFAULT (GETDATE()),
    [Total_quantity] [int] NOT NULL,
    [Amount_due] [decimal](18, 2) NOT NULL,
    [Order_status_id] [int] NOT NULL,
    [Order_note] [nvarchar](255) NULL,
    CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED ([Order_id] ASC)
);
PRINT 'Đã tạo bảng Order';
GO

-- Tạo bảng Invoice
CREATE TABLE [dbo].[Invoice](
    [Invoice_id] [int] IDENTITY(1,1) NOT NULL,
    [Payment_method_id] [int] NOT NULL,
    [Order_id] [int] NOT NULL,
    [Order_type_id] [int] NOT NULL,
    [Cashier_id] [int] NOT NULL,
    [Shipper_id] [int] NULL,
    [Customer_id] [int] NULL,
    [Room_id] [int] NULL,
    [Check_in_time] [datetime] NOT NULL,
    [Check_out_time] [datetime] NOT NULL DEFAULT (GETDATE()),
    [Total_quantity] [int] NOT NULL,
    [Subtotal] [decimal](18, 2) NOT NULL,
    [Other_payment] [decimal](18, 2) NULL DEFAULT ((0)),
    [Invoice_discount] [decimal](18, 2) NULL DEFAULT ((0)),
    [Total_vat] [decimal](18, 2) NULL DEFAULT ((0)),
    [Amount_due] [decimal](18, 2) NOT NULL,
    [Status] [bit] NULL DEFAULT ((1)),
    [Invoice_note] [nvarchar](255) NULL,
    CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED ([Invoice_id] ASC)
);
PRINT 'Đã tạo bảng Invoice';
GO

-- Tạo bảng Invoice_detail
CREATE TABLE [dbo].[Invoice_detail](
    [Invoice_detail_id] [int] IDENTITY(1,1) NOT NULL,
    [Invoice_id] [int] NOT NULL,
    [Product_id] [int] NOT NULL,
    [Product_name] [nvarchar](100) NOT NULL,
    [Quantity] [int] NOT NULL,
    [Price] [decimal](18, 2) NOT NULL,
    [Product_vat] [decimal](5, 2) NULL,
    [Product_note] [nvarchar](255) NULL,
    CONSTRAINT [PK_Invoice_detail] PRIMARY KEY CLUSTERED ([Invoice_detail_id] ASC)
);
PRINT 'Đã tạo bảng Invoice_detail';
GO

-- Tạo bảng Order_cancellation_history
CREATE TABLE [dbo].[Order_cancellation_history](
    [Order_cancellation_history_id] [int] IDENTITY(1,1) NOT NULL,
    [Order_id] [int] NOT NULL,
    [Cashier_id] [int] NOT NULL,
    [Product_id] [int] NOT NULL,
    [Quantity] [int] NOT NULL,
    [Reason] [nvarchar](255) NOT NULL,
    CONSTRAINT [PK_Order_cancellation_history] PRIMARY KEY CLUSTERED ([Order_cancellation_history_id] ASC)
);
PRINT 'Đã tạo bảng Order_cancellation_history';
GO

-- Tạo bảng Order_detail
CREATE TABLE [dbo].[Order_detail](
    [Order_detail_id] [int] IDENTITY(1,1) NOT NULL,
    [Order_id] [int] NOT NULL,
    [Status] [bit] NULL DEFAULT ((0)),
    [Product_id] [int] NOT NULL,
    [Product_name] [nvarchar](100) NOT NULL,
    [Quantity] [int] NOT NULL,
    [Price] [decimal](18, 2) NOT NULL,
    [Product_note] [nvarchar](255) NULL,
    CONSTRAINT [PK_Order_detail] PRIMARY KEY CLUSTERED ([Order_detail_id] ASC)
);
PRINT 'Đã tạo bảng Order_detail';
GO

-- Tạo bảng Payment_method
CREATE TABLE [dbo].[Payment_method](
    [Payment_method_id] [int] IDENTITY(1,1) NOT NULL,
    [Payment_method_title] [nvarchar](50) NOT NULL,
    [status] [bit] NULL DEFAULT ((1)),
    [isDelete] [bit] NULL DEFAULT ((0)),
    CONSTRAINT [PK_Payment_method] PRIMARY KEY CLUSTERED ([Payment_method_id] ASC)
);
PRINT 'Đã tạo bảng Payment_method';
GO

-- Tạo bảng Product_image
CREATE TABLE [dbo].[Product_image](
    [Product_image_id] [int] IDENTITY(1,1) NOT NULL,
    [Product_id] [int] NOT NULL,
    [Product_image] [nvarchar](255) NOT NULL,
    CONSTRAINT [PK_Product_image] PRIMARY KEY CLUSTERED ([Product_image_id] ASC)
);
PRINT 'Đã tạo bảng Product_image';
GO

-- Tạo bảng User_role
CREATE TABLE [dbo].[User_role](
    [role_id] [int] IDENTITY(1,1) NOT NULL,
    [role_name] [nvarchar](50) NOT NULL,
    [isDelete] [bit] NULL DEFAULT ((0)),
    CONSTRAINT [PK_User_role] PRIMARY KEY CLUSTERED ([role_id] ASC)
);
PRINT 'Đã tạo bảng User_role';
GO

-- Tạo bảng User_information
CREATE TABLE [dbo].[User_information](
    [User_information_id] [int] IDENTITY(1,1) NOT NULL,
    [User_name] [nvarchar](100) NOT NULL,
    [Address] [nvarchar](255) NULL,
    [Province_City] [nvarchar](100) NULL,
    [District] [nvarchar](100) NULL,
    [Ward_Commune] [nvarchar](100) NULL,
    [Date_of_birth] [date] NULL,
    CONSTRAINT [PK_User_information] PRIMARY KEY CLUSTERED ([User_information_id] ASC)
);
PRINT 'Đã tạo bảng User_information';
GO

-- Tạo bảng User
CREATE TABLE [dbo].[User](
    [User_id] [int] IDENTITY(1,1) NOT NULL,
    [role_id] [int] NOT NULL,
    [email] [nvarchar](255) NOT NULL,
    [password] [nvarchar](255) NOT NULL,
    [phone] [nvarchar](20) NOT NULL,
    [status] [bit] NULL DEFAULT ((1)),
    [create_date] [datetime] NULL DEFAULT (GETDATE()),
    [is_verify] [bit] NULL DEFAULT ((0)),
    [user_information_id] [int] NOT NULL,
    [isDelete] [bit] NULL DEFAULT ((0)),
    CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED ([User_id] ASC)
);
PRINT 'Đã tạo bảng User';
GO

-- Tạo bảng Vat_tax
CREATE TABLE [dbo].[Vat_tax](
    [Vat_tax_id] [int] IDENTITY(1,1) NOT NULL,
    [Vat_tax_value] [decimal](5, 2) NOT NULL,
    CONSTRAINT [PK_Vat_tax] PRIMARY KEY CLUSTERED ([Vat_tax_id] ASC)
);
PRINT 'Đã tạo bảng Vat_tax';
GO

-- Thêm khóa ngoại
BEGIN TRY
    ALTER TABLE [dbo].[Discount_campaign_detail] ADD CONSTRAINT [FK_Discount_campaign_detail_Discount_id]
        FOREIGN KEY ([Discount_id]) REFERENCES [dbo].[Discount_campaign] ([Discount_id]);
    ALTER TABLE [dbo].[Discount_campaign_detail] ADD CONSTRAINT [FK_Discount_campaign_detail_Product_id]
        FOREIGN KEY ([Product_id]) REFERENCES [dbo].[Menu] ([Product_id]);
    ALTER TABLE [dbo].[Invoice] ADD CONSTRAINT [FK_Invoice_Cashier_id]
        FOREIGN KEY ([Cashier_id]) REFERENCES [dbo].[User] ([User_id]);
    ALTER TABLE [dbo].[Invoice] ADD CONSTRAINT [FK_Invoice_Customer_id]
        FOREIGN KEY ([Customer_id]) REFERENCES [dbo].[Customer] ([Customer_id]);
    ALTER TABLE [dbo].[Invoice] ADD CONSTRAINT [FK_Invoice_Order_id]
        FOREIGN KEY ([Order_id]) REFERENCES [dbo].[Order] ([Order_id]);
    ALTER TABLE [dbo].[Invoice] ADD CONSTRAINT [FK_Invoice_Order_type_id]
        FOREIGN KEY ([Order_type_id]) REFERENCES [dbo].[Order_type] ([Order_type_id]);
    ALTER TABLE [dbo].[Invoice] ADD CONSTRAINT [FK_Invoice_Payment_method_id]
        FOREIGN KEY ([Payment_method_id]) REFERENCES [dbo].[Payment_method] ([Payment_method_id]);
    ALTER TABLE [dbo].[Invoice] ADD CONSTRAINT [FK_Invoice_Room_id]
        FOREIGN KEY ([Room_id]) REFERENCES [dbo].[Room] ([Room_id]);
    ALTER TABLE [dbo].[Invoice] ADD CONSTRAINT [FK_Invoice_Shipper_id]
        FOREIGN KEY ([Shipper_id]) REFERENCES [dbo].[User] ([User_id]);
    ALTER TABLE [dbo].[Invoice_detail] ADD CONSTRAINT [FK_Invoice_detail_Invoice_id]
        FOREIGN KEY ([Invoice_id]) REFERENCES [dbo].[Invoice] ([Invoice_id]);
    ALTER TABLE [dbo].[Invoice_detail] ADD CONSTRAINT [FK_Invoice_detail_Product_id]
        FOREIGN KEY ([Product_id]) REFERENCES [dbo].[Menu] ([Product_id]);
    ALTER TABLE [dbo].[Menu] ADD CONSTRAINT [FK_Menu_Product_category_id]
        FOREIGN KEY ([Product_category_id]) REFERENCES [dbo].[Product_category] ([Product_category_id]);
    ALTER TABLE [dbo].[Menu] ADD CONSTRAINT [FK_Menu_Unit_id]
        FOREIGN KEY ([Unit_id]) REFERENCES [dbo].[Unit] ([Unit_id]);
    ALTER TABLE [dbo].[Order] ADD CONSTRAINT [FK_Order_Customer_id]
        FOREIGN KEY ([Customer_id]) REFERENCES [dbo].[Customer] ([Customer_id]);
    ALTER TABLE [dbo].[Order] ADD CONSTRAINT [FK_Order_Delivery_information_id]
        FOREIGN KEY ([Delivery_information_id]) REFERENCES [dbo].[Delivery_information] ([Delivery_information_id]);
    ALTER TABLE [dbo].[Order] ADD CONSTRAINT [FK_Order_Order_status_id]
        FOREIGN KEY ([Order_status_id]) REFERENCES [dbo].[Order_status] ([Order_status_id]);
    ALTER TABLE [dbo].[Order] ADD CONSTRAINT [FK_Order_Order_type_id]
        FOREIGN KEY ([Order_type_id]) REFERENCES [dbo].[Order_type] ([Order_type_id]);
    ALTER TABLE [dbo].[Order] ADD CONSTRAINT [FK_Order_Room_id]
        FOREIGN KEY ([Room_id]) REFERENCES [dbo].[Room] ([Room_id]);
    ALTER TABLE [dbo].[Order] ADD CONSTRAINT [FK_Order_Shipper_id]
        FOREIGN KEY ([Shipper_id]) REFERENCES [dbo].[User] ([User_id]);
    ALTER TABLE [dbo].[Order_cancellation_history] ADD CONSTRAINT [FK_Order_cancellation_history_Cashier_id]
        FOREIGN KEY ([Cashier_id]) REFERENCES [dbo].[User] ([User_id]);
    ALTER TABLE [dbo].[Order_cancellation_history] ADD CONSTRAINT [FK_Order_cancellation_history_Order_id]
        FOREIGN KEY ([Order_id]) REFERENCES [dbo].[Order] ([Order_id]);
    ALTER TABLE [dbo].[Order_cancellation_history] ADD CONSTRAINT [FK_Order_cancellation_history_Product_id]
        FOREIGN KEY ([Product_id]) REFERENCES [dbo].[Menu] ([Product_id]);
    ALTER TABLE [dbo].[Order_detail] ADD CONSTRAINT [FK_Order_detail_Order_id]
        FOREIGN KEY ([Order_id]) REFERENCES [dbo].[Order] ([Order_id]);
    ALTER TABLE [dbo].[Order_detail] ADD CONSTRAINT [FK_Order_detail_Product_id]
        FOREIGN KEY ([Product_id]) REFERENCES [dbo].[Menu] ([Product_id]);
    ALTER TABLE [dbo].[Product_image] ADD CONSTRAINT [FK_Product_image_Product_id]
        FOREIGN KEY ([Product_id]) REFERENCES [dbo].[Menu] ([Product_id]);
    ALTER TABLE [dbo].[Room] ADD CONSTRAINT [FK_Room_Room_area_id]
        FOREIGN KEY ([Room_area_id]) REFERENCES [dbo].[Room_area] ([Room_area_id]);
    ALTER TABLE [dbo].[User] ADD CONSTRAINT [FK_User_role_id]
        FOREIGN KEY ([role_id]) REFERENCES [dbo].[User_role] ([role_id]);
    ALTER TABLE [dbo].[User] ADD CONSTRAINT [FK_User_user_information_id]
        FOREIGN KEY ([user_information_id]) REFERENCES [dbo].[User_information] ([User_information_id]);
    PRINT 'Đã thêm tất cả khóa ngoại.';
END TRY
BEGIN CATCH
    PRINT 'Lỗi khi thêm khóa ngoại: ' + ERROR_MESSAGE();
END CATCH
GO

-- Thêm chỉ mục
BEGIN TRY
    IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'UQ_Customer_Phone' AND object_id = OBJECT_ID('dbo.Customer'))
        CREATE UNIQUE NONCLUSTERED INDEX [UQ_Customer_Phone] ON [dbo].[Customer] ([Phone] ASC);
    IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'UQ_User_email' AND object_id = OBJECT_ID('dbo.User'))
        CREATE UNIQUE NONCLUSTERED INDEX [UQ_User_email] ON [dbo].[User] ([email] ASC);
    IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'UQ_User_phone' AND object_id = OBJECT_ID('dbo.User'))
        CREATE UNIQUE NONCLUSTERED INDEX [UQ_User_phone] ON [dbo].[User] ([phone] ASC);
    PRINT 'Đã thêm tất cả chỉ mục.';
END TRY
BEGIN CATCH
    PRINT 'Lỗi khi thêm chỉ mục: ' + ERROR_MESSAGE();
END CATCH
GO

-- Chèn dữ liệu
BEGIN TRY
    -- Order_status
    IF NOT EXISTS (SELECT 1 FROM [dbo].[Order_status] WHERE [Order_status_id] = 1)
    BEGIN
        SET IDENTITY_INSERT [dbo].[Order_status] ON;
        INSERT INTO [dbo].[Order_status] ([Order_status_id], [Order_status_title]) VALUES (1, N'Đang phục vụ');
        INSERT INTO [dbo].[Order_status] ([Order_status_id], [Order_status_title]) VALUES (2, N'Đã thanh toán');
        INSERT INTO [dbo].[Order_status] ([Order_status_id], [Order_status_title]) VALUES (3, N'Đã Hủy');
        SET IDENTITY_INSERT [dbo].[Order_status] OFF;
        PRINT 'Đã chèn dữ liệu vào Order_status.';
    END

    -- Order_type
    IF NOT EXISTS (SELECT 1 FROM [dbo].[Order_type] WHERE [Order_type_id] = 1)
    BEGIN
        SET IDENTITY_INSERT [dbo].[Order_type] ON;
        INSERT INTO [dbo].[Order_type] ([Order_type_id], [Order_type_title]) VALUES (1, N'Đơn mang về');
        INSERT INTO [dbo].[Order_type] ([Order_type_id], [Order_type_title]) VALUES (2, N'Đơn ship');
        INSERT INTO [dbo].[Order_type] ([Order_type_id], [Order_type_title]) VALUES (3, N'Đơn tại quán');
        SET IDENTITY_INSERT [dbo].[Order_type] OFF;
        PRINT 'Đã chèn dữ liệu vào Order_type.';
    END

    -- Payment_method
    IF NOT EXISTS (SELECT 1 FROM [dbo].[Payment_method] WHERE [Payment_method_id] = 1)
    BEGIN
        SET IDENTITY_INSERT [dbo].[Payment_method] ON;
        INSERT INTO [dbo].[Payment_method] ([Payment_method_id], [Payment_method_title], [status], [isDelete]) 
        VALUES (1, N'Tiền mặt', 1, 0);
        INSERT INTO [dbo].[Payment_method] ([Payment_method_id], [Payment_method_title], [status], [isDelete]) 
        VALUES (2, N'VNPAY', 1, 0);
        SET IDENTITY_INSERT [dbo].[Payment_method] OFF;
        PRINT 'Đã chèn dữ liệu vào Payment_method.';
    END

    -- User_role
    IF NOT EXISTS (SELECT 1 FROM [dbo].[User_role] WHERE [role_id] = 1)
    BEGIN
        SET IDENTITY_INSERT [dbo].[User_role] ON;
        INSERT INTO [dbo].[User_role] ([role_id], [role_name], [isDelete]) VALUES (1, N'manager', 0);
        INSERT INTO [dbo].[User_role] ([role_id], [role_name], [isDelete]) VALUES (2, N'cashier', 0);
        INSERT INTO [dbo].[User_role] ([role_id], [role_name], [isDelete]) VALUES (3, N'shipper', 0);
        SET IDENTITY_INSERT [dbo].[User_role] OFF;
        PRINT 'Đã chèn dữ liệu vào User_role.';
    END

    -- User_information
    IF NOT EXISTS (SELECT 1 FROM [dbo].[User_information] WHERE [User_information_id] = 1)
    BEGIN
        SET IDENTITY_INSERT [dbo].[User_information] ON;
        INSERT INTO [dbo].[User_information] ([User_information_id], [User_name], [Address], [Province_City], [District], [Ward_Commune], [Date_of_birth]) 
        VALUES (1, N'Nguyễn Văn A', N'123 Đường ABC', N'Hà Nội', N'Cầu Giấy', N'Dịch Vọng', CAST('19900515' AS Date));
        INSERT INTO [dbo].[User_information] ([User_information_id], [User_name], [Address], [Province_City], [District], [Ward_Commune], [Date_of_birth]) 
        VALUES (2, N'Trần Thị B', N'456 Đường XYZ', N'Hồ Chí Minh', N'Quận 1', N'Phường Bến Thành', CAST('19950822' AS Date));
        INSERT INTO [dbo].[User_information] ([User_information_id], [User_name], [Address], [Province_City], [District], [Ward_Commune], [Date_of_birth]) 
        VALUES (3, N'Lê Văn C', N'789 Đường DEF', N'Đà Nẵng', N'Hải Châu', N'Phường Thanh Bình', CAST('19881210' AS Date));
        SET IDENTITY_INSERT [dbo].[User_information] OFF;
        PRINT 'Đã chèn dữ liệu vào User_information.';
    END

    -- User
    IF NOT EXISTS (SELECT 1 FROM [dbo].[User] WHERE [User_id] = 1)
    BEGIN
        SET IDENTITY_INSERT [dbo].[User] ON;
        INSERT INTO [dbo].[User] ([User_id], [role_id], [email], [password], [phone], [status], [create_date], [is_verify], [user_information_id], [isDelete]) 
        VALUES (1, 1, N'nguyenvana@example.com', N'hashed_password_1', N'0987654321', 1, CAST('20250306 14:43:43' AS DateTime), 1, 1, 0);
        INSERT INTO [dbo].[User] ([User_id], [role_id], [email], [password], [phone], [status], [create_date], [is_verify], [user_information_id], [isDelete]) 
        VALUES (2, 1, N'tranthib@example.com', N'hashed_password_2', N'0978123456', 1, CAST('20250306 14:43:43' AS DateTime), 1, 2, 0);
        INSERT INTO [dbo].[User] ([User_id], [role_id], [email], [password], [phone], [status], [create_date], [is_verify], [user_information_id], [isDelete]) 
        VALUES (3, 2, N'levanc@example.com', N'hashed_password_3', N'0967987654', 1, CAST('20250306 14:43:43' AS DateTime), 1, 3, 0);
        SET IDENTITY_INSERT [dbo].[User] OFF;
        PRINT 'Đã chèn dữ liệu vào User.';
    END

    -- Vat_tax
    IF NOT EXISTS (SELECT 1 FROM [dbo].[Vat_tax] WHERE [Vat_tax_id] = 1)
    BEGIN
        SET IDENTITY_INSERT [dbo].[Vat_tax] ON;
        INSERT INTO [dbo].[Vat_tax] ([Vat_tax_id], [Vat_tax_value]) VALUES (1, CAST(8.00 AS Decimal(5, 2)));
        INSERT INTO [dbo].[Vat_tax] ([Vat_tax_id], [Vat_tax_value]) VALUES (2, CAST(10.00 AS Decimal(5, 2)));
        SET IDENTITY_INSERT [dbo].[Vat_tax] OFF;
        PRINT 'Đã chèn dữ liệu vào Vat_tax.';
    END
END TRY
BEGIN CATCH
    PRINT 'Lỗi khi chèn dữ liệu: ' + ERROR_MESSAGE();
END CATCH
GO

-- Xóa stored procedure tạm thời
IF OBJECT_ID('sp_DropForeignKeys', 'P') IS NOT NULL
    DROP PROCEDURE sp_DropForeignKeys;
GO

PRINT 'Hoàn tất tạo cơ sở dữ liệu bepkhoi_final và chèn dữ liệu.';
GO